doctype html
html(lang="es")

head
    title Compras
    link(rel="stylesheet", href="stylesheets/main.css")

body

    h1 
        a(href="Comprar_playera") Comprar playera color #{color}

    
        div
            h2 Vista previa 
            img(src= datos.imagen, alt="camiseta")
