doctype html
html(lang="es")

head
    title #{titulo}

body
    h1
        a(href="https://www.youtube.com/watch?v=JuKjh8Z7cEc",target="_blank") Bienvenidos a Pug
    div
        p #{textoParrafo}
        img(src="images/GOKU2.jpg", alt="Camiseta") 

    h1 Nuestras playeras
        a(href="/tienda.html") Más playeras

    ul
        li playera1
        li playera2
        li playera3
      


