*{
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    text-align: center;
}

h1{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: x-large;
    color: greenyellow;
}

img{
    padding-top: 30px;
    content: normal;
    text-shadow: lightseagreen;
    
}

.item{
    flex: none;
}